<!DOCTYPE html>
<html>
    <head>
        <title>Login - KaffIt</title>
        <link rel="stylesheet" href="/gui/style.css">
        <script type="module">
            import { createApp } from 'https://unpkg.com/petite-vue?module'
          
            createApp({
                get loginorprofile() {
                    return 'Login'
                },
                login(handle, password) {
                    console.log('Success')
                }
            }).mount()
          </script>
    </head>
    <body>
        <div v-scope class="content">
            <div class="form">
                <form action="/login" method ="POST">
                    <label for="handle">Handle:</label>
                    <input type="text" id="handle" name="handle" required><br><br>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <input type="submit" value="Login">
                </form>
            </div>
        </div>
    </body>
</html>